  <% if @errors %>
  <%= @errors %>
  <br><br>
  <img src= 'http://cdn.smosh.com/sites/default/files/legacy.images/smosh-pit/032011/family-guy-doggie-hell.gif'/>
  <% end %>

  <form action='/login' method='post'>
    <input type="text" name="user[email]" placeholder="email"/>
    <input type="password" name="user[password]" placeholder="password"/>
    <input type="submit" value="Login"/>
  </form>
