<div class="alert alert-success" role="alert">
  <h2>Number of correct cards:</h2>
  <h3><%= @correct.count %></h3>
</div>
<div class="alert-danger" role="alert">
  <br>
  <h2>Number of incorrect cards:</h2>
  <h3><%= @incorrect.count %></h3><br>
</div>