<div class="text-center">
  <%= erb :'results/_stats' %>
  <br>
  <div class="jumbotron">
    <h2><a href="/decks/<%= @deck.id %>">Play again?</a> | | <a href="/decks">Another deck?</a></h2>
  </div>
</div>