  <form action="/decks/<%= @deck.id %>/round/<%= @round.id %>" method="post">
    <input type="text" name="answer" placeholder="answer" id="answer"/><br><br>
    <button type="submit" class="btn btn-primary btn-lg">Submit Answer</button>
  </form>