<div class="text-center">
  <h2>Choose your Discipline</h2><br>
  <div class="jumbotron">
    <% @decks.each do |deck| %>
      <h2><a href="/decks/<%= deck.id %>"><%= deck.id %>:   <%= deck.name %></a></h2>
    <% end %>
  </div>
</div>