<div class="text-center">
  <h2>Are you sure you want to play this game?</h2>
  <div class="jumbotron">
    <h2><a href="/decks/<%= @deck.id %>/round/<%= @round.id %>">Yes</a> | | <a href="/decks">No</a></h2>
  </div>

</div>