<ul class="nav nav-tabs">
  <li><a href="/" data-toggle="tab">Home</a></li>
  <li><a href="/decks" data-toggle="tab">Decks</a></li>
  <li>
    <% if is_authenticated? %>
      <a href="/decks" data-toggle="tab">logout</a>

    <% end %>
  </li>
</ul>