<h2>Welcome to the best Flash Card game your ass will ever play!</h2>
<br>
<div id="login">
  <h2>Login</h2>
  <%= erb :'auth/_login' %>
</div>

<br>
<br>
<br>

<div id="signup">
  <h2>Sign Up</h2>
  <%= erb :'auth/_signup' %>
</div>


